.DS_Store
*.pyc
*.pyo
venv/
venv*
.vscode/
.vscode*
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
build/
__pycache__
__pycache__/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
coverage.*
